{% extends "../post_base/base_with_header.html" %}


{% block title %} 게시물 작성| Sparkling Coffee Club{% endblock title %}

{% block post-detail-style %}
    <style>
        .detail_comment_field {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="container">
        <div id="main_container">
            <div class="post_form_container">
                <form class="post_form" method="post" autocomplete="off" enctype="multipart/form-data" >{% csrf_token %}
                    <div class="title">
                        NEW POST
                    </div>
                    <div class="preview">
                        <div class="upload">
                            <div class="post_btn">
                                    <img src="{{ post.image.url }}" style="width:100%;">
                                <canvas id="imageCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <p>                        
                        <input type="file" name="image" id="id_photo" required="required" > 
                    </p>
                    <p>
                        <textarea name="content" id="text_field"  cols="50" rows="5" placeholder="140자 까지 등록 가능합니다. #태그명 을 통해서 검색 태그를 등록할 수 있습니다. 예시 : I # love # insta!">{{ post.content }}</textarea>
                    </p>
                    <button class="submit_btn" type="submit">저장</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}

