{% extends "../post_base/base_with_header.html" %}

{% load static %}
{% block title %}
    {{ profile_user.username }}
    | Sparkling Coffee Club
{% endblock title%}
{% block content %}
    <section id="container">
        <div id="main_container">
            <section class="b_inner">
                <div class="hori_cont">
                    <div class="profile_wrap">
                        <div class="profile_img">
                            <img src="{{ profile_user.profile_image.url }}" alt="프로필이미지">
                        </div>
                    </div>
                    <div class="detail">
                        <div class="top">
                            <div class="user_name">{{ profile_user.username }}</div>
                            {% if user.is_authenticated and user != profile_user %}
                            <form
                                class="follow-button"
                                action="{% url 'post:process-follow' profile_user.id %}"
                                method="post">
                                {% csrf_token %}
                                {% if user in profile_user.followers.all %}
                                    <button class="btn btn-link" style="text-decoration: none; border: 0.5px solid lightgray; font-size: 13px; color: black;" type="submit">
                                        언팔로우
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary" style="font-size: 13px;" type="submit">
                                        팔로우
                                    </button>
                                {% endif %}
                            </form>
                            {% endif %}
                            {% if profile_user == user%}
                                <a href="{% url 'post:profile-update' user.id %}" class="profile_edit">프로필 편집</a>
                                <a href="#" style="border: none; width: 65px;">
                                    <div class="sprite_gear_icon"></div>
                                </a>
                            {% endif %} 
                        </div>
                        <div>
                            <p>{{ profile_user.intro }}</p>
                        </div>
                        <div class="middle">
                            <div style="margin-right: 50px;">
                                게시물
                                {{ profile_user.post.count }}
                            </div>
                            <div style="margin-right: 50px;">
                                <a href="{% url 'post:follower-list' profile_user.id %}">
                                    팔로워
                                    {{ profile_user.followers.count }}
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'post:following-list' profile_user.id %}">
                                    팔로잉
                                    {{ profile_user.followings.count }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr size="3">
                {% if user == profile_user %}
                <div
                    style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 20px;">
                    <a href="{% url 'post:profile' user.id %}">
                        <div style="margin-right: 40px; display: flex; justify-content: center;">
                            <div class="sprite_camera_icon" style="margin-right: 10px;"></div>게시글
                        </div>
                    </a>
                    <a href="{% url 'post:liked-list' user.id %}">
                        <div style="margin-right: 40px; display: flex; justify-content: center;">
                            <div class="sprite_heart_icon_outline" style="margin-right: 10px;"></div>좋아요
                        </div>
                    </a>
                </div>
                {% endif %}
                <br>
                <div class="mylist_contents contents_container active">
                    {% if liked_posts %}
                        {% for post in liked_posts %}
                            <div class="pic" style="width: 300px; height: 300px;">
                                <a href="{% url 'post:post-detail' post.id %}"><img src="{{ post.image.url }}" alt=""></a>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div style="display: flex; flex-direction: column; align-items: center; margin: auto;">
                        <div class="sprite_post_camera_icon"></div>
                        <div style="margin-top: 10px;">
                            게시물을 추가해주세요
                        </div>
                    </div>
                    {% endif%}
                </div>
            </section>
        </div>
    </section>
{% endblock content %}